# --- macOS åå¾æä¶ ---
.DS_Store

# --- Xcode äªäºè¾ç® (äåää ) ---
*.auth
*.xcuserstate
*.xccheckout
xcuserdata/
*.xcworkspace/xcuserdata/

# --- çèçææä¶ ---
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# --- æ¸åïå½ç¥å¨å§çæºå¨å¦ä æ¡å ---
*.mlmodel
*.mlpackage

# --- åæä æ Swift Package Manager ---
.build/
Packages/
Package.pins
